.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.snackbar {
  position: fixed;
  top: 8px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-200%);
  background-color: $primary;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 500;
  z-index: 999;
  transition: all 0.3s ease;

  &.active {
    transform: translateX(-50%) translateY(0%);
    opacity: 1;
  }
}
